<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Olá {{name}},</p>
        <p>Você solicitou recuperação de senha.</p>
        <p> Por favor, clique no link abaixo</p>
        <a href="{{link}}">Recuperar senha</a>
    </body>
</html>