<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Olá {{name}},</p>
        <p>Você solicitou recuperação de senha.</p>
        <p> Porfavor,cliqueno link abaixo</p>
        <a href="{{link}}">Reset Password</a>
    </body>
</html>